<%

    var params = typeof(locals) !== 'undefined' ? locals : {};
    params = typeof(htmlWebpackPlugin) !== 'undefined' ? htmlWebpackPlugin.options : params;

    params = Object.assign({

        helmet                  : {},
        state                   : null,
        markup                  : '',
        manifest                : '',
        manifestFileContents    : ''

    }, params);

%>

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
        <% if (params.helmet.title) { %><%= params.helmet.title %><% } %>

        <% if (params.manifest['main.css']) { %>
        
            <link rel="stylesheet" href="<%= params.manifest['main.css'] %>" />
        
        <% } %>
    
    </head>
    
    <body>
        
        <div id="root"><%= params.markup %></div>

        <% if (params.state) { %>

            <script>window.__REDUX_STATE__ = <%= JSON.stringify(params.state) %></script>

        <% } %>

        <% if (params.manifestFileContents) { %>
        
            <script><%= params.manifestFileContents %></script>
            <script src="<%= params.manifest['vendors.js'] %>"></script>
            <script src="<%= params.manifest['main.js'] %>"></script>
        
        <% } %>
    
    </body>

</html>