<%

    var params = typeof(locals) !== 'undefined' ? locals : {};

    params = Object.assign({

        helmet                  : {},
        state                   : null,
        markup                  : '',
        manifest                : '',
        manifestFileContents    : ''

    }, params);

%>

<!DOCTYPE html>
<html <% if (params.helmet.htmlAttributes) { %><%= params.helmet.htmlAttributes.toString() %><% } %>>
    
    <head>
        
        <% if (params.helmet.title) { %><%= params.helmet.title.toString() %><% } %>
        <% if (params.helmet.meta) { %><%= params.helmet.meta.toString() %><% } %>

        <% if (params.manifest['main.css']) { %>
        
            <link rel="stylesheet" href="<%= params.manifest['main.css'] %>" />
        
        <% } %>
    
    </head>
    
    <body <% if (params.helmet.htmlAttributes) { %><%= params.helmet.bodyAttributes.toString() %><% } %>>
        
        <div id="root"><%= params.markup %></div>

        <% if (params.state) { %>

            <script>window.__REDUX_STATE__ = <%= JSON.stringify(params.state) %></script>

        <% } %>

        <% if (params.manifestFileContents) { %>
        
            <script><%= params.manifestFileContents %></script>
            <script src="<%= params.manifest['vendors.js'] %>"></script>
            <script src="<%= params.manifest['main.js'] %>"></script>
        
        <% } %>
    
    </body>

</html>